

body{
    font-family: 'Raleway', sans-serif;
}

.about{
    min-height: 90vh;
}

.headingName{
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-width: 3px solid black;
    margin: 10vh auto;
    display: flex;
    position: relative;
    left: 0;
    right: 0;
}

.discription{
    margin: 10% 10%;
    width: 80%;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.details{
    margin-top: 20vh ;
}

.details-title{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.detailsIteam{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;

}

.icons{
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
}

@media(max-width:900px){
    .a-righ{
        float: none !important;
        width: 100%;
    }
    .a-left{
        float: none !important;
        width: 100%;
    }

}
