.contact_page{
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.363); */

}

.contactme{
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 50px;
    font-weight: 900;
}

.discriptions{
    margin: 50px 0;
}

.address{
    margin: 50px 0;
}

.email{
    margin: 50px 0;
}

input{
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
    margin: 20px 10px;
    padding-left: 20px;
    ;
}

textarea{
    width: 70%;
    margin: 20px 10px;
    padding-left: 20px;

}

.formSubmit{
    width: 300px ;
    margin-left: auto;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(43, 41, 41, 0.753);
    color: white;
}

.formSubmit:hover{
    background-color: black;
}

.contactDetails{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.contactMail{
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 800;

}